.site-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  background-color: #0F5132;
}

.logo {
  width: 250px;
  height: auto;
  background-color: transparent;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-items: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  border: 1px solid #1D2328;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #198754;
}

nav ul li a:link {
  color: #FFFFFF;
}

nav ul li a:visited {
  color: #32CD32;
}

nav ul li.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0F5132;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 0.5em;
  min-width: 180px;
  z-index: 1000;
}

nav ul li.dropdown .dropdown-menu li a {
  border: none;
  padding: 0.5em 1em;
  display: block;
  width: 100%;
  text-align: left;
}

nav ul li.dropdown:hover .dropdown-menu {
  display: block;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: #FFFFFF;
    user-select: none;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #0F5132;
    margin-top: 10px;
    padding-left: 0;
  }

  nav ul li {
    border-bottom: 1px solid #1D2328;
    width: 100%;
  }

  nav ul li.dropdown .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: static;
    background-color: #198754;
    border-radius: 0;
  }

  nav ul li.dropdown .dropdown-menu li a {
    padding-left: 2rem;
  }

  nav ul li.dropdown:hover .dropdown-menu {
    display: flex;
  }

  #menu-toggle:checked + label + nav ul {
    display: flex;
  }
}
