.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0F5132;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
  position: absolute;
  right: 20px
  top: -20px;
  background-color: transparent;
  z-index: 2;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-items: center;
  background-color: #0F5132;
}

nav ul li a {
  display: block;
  border: 1px solid #1D2328;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #198754;
}
