h1 {
    color: #1D2328;
    font-size: 36px;
}

h2 {
    color: #1D2328;
    font-size: 30px;
}

h3 {
    color: #1D2328;
    font-size: 24px;
}

h4 {
    color: #1D2328;
    font-size: 20px;
}

p {
    color: #1D2328;
    font-size: 18px;
}